.bckgrnd {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    position: relative;
    text-align: right;
}
.fp { 
    background-image: url(../img/rainbowroad.jpg);
    padding-top: 125px; 
    opacity: 0.8;
}
.fp2 { 
    background-image: url(../img/Vik.jpg);
    padding-top: 125px; 
    opacity: 0.8;
}