<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Loki Bicycle Rental</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Text+Me+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

        <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body class="rentalimg">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="navbar navbar-fixed-top navbarop" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar black"></span>
                        <span class="icon-bar black"></span>
                        <span class="icon-bar black"></span>
                    </button>
                    <a class="navbar-brand logoheader" href="index.html" >
                        <img src="img/" alt="Loki Logo" class="oplogo">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="cases.html">Rent a Bike</a></li>
                        <li><a href="solution.html">About</a></li>
                    </ul>
                </div><!--/.navbar-collapse -->
            </div>
        </nav>
        <div class="container-fluid" id="app">
            <div class="row pt150">
                <div class="col-xs-12">
                    <form action="" class="text-center">
                        <h3 class="inline white">From:</h3>
                        <input type="date" name="bday">
                        <h3 class="inline white">To:</h3>
                        <input type="date" name="bday">
                        <br>
                        <label id="mountain">
                            <input v-model="showM" type="checkbox" name="mountain" value="mountain" class="lokicheckbox">
                            <h5 class="inline white">Mountain bike</h5>
                        </label>
                        <label id="road">
                            <input v-model="showR" type="checkbox" name="road" value="road">
                            <h5 class="inline white">Road Bike</h5>
                        </label>
                        <label id="cyclocross">
                            <input v-model="showC" type="checkbox" name="cyclocross" value="cyclo"> <h5 class="inline white">Cyclocross</h5>
                        </label>
                    </form>
                    
                </div>
            </div>
            <div class="row mrl20px pt150 white">
              <div class="col-xs-12 col-sm-4" v-for="b in bicycles" v-show="(showM && b.mountain) || (showR && b.road) || (showC && b.cyclo)">
                  <img :src="b.url" class="img-responsive maxheight250">
                  <h3>{{ b.name }}</h3>
                  <h5>Price per day: {{ b.price }}</h5>
                  <h5 v-if="b.mountain">Mountain</h5>
                  <h5 v-if="b.road"> Road</h5>
                  <h5 v-if="b.cyclo"> Cyclocross</h5>
              </div>
            </div>
            <!-- FOOTER -->
            <div class="row lokifooter lokift">
                <div class="col-xs-12">
                    <footer>
                        <div class="row footer">
                            <div class="col-xs-12 col-sm-4 text-center pbt15px">
                                <a href="https://www.facebook.com/">
                                    <img src="img/fb.png" alt="fblogo" class="plr20 footersocial">
                                </a>
                                <a href="https://www.instagram.com/hjolasprettur">
                                    <img src="img/insta.png" alt="instagram" class="plr20 footersocial">
                                </a>
                            </div>
                            
                            <div class="col-xs-12 col-sm-8 ">
                                <ul class="footerlist footerlistxs text-center">
                                    <li>Loki</li>
                                    <li>contact@loki.com</li>
                                    <li>+354 565 2292</li>
                                    <li>Dalshraun 13</li>
                                    <li>Hafnarfjordur</li>
                                </ul>
                            </div>
                            
                        </div>
                    </footer>
                </div>
            </div>
        </div> <!-- /container -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
